use flake

if [ -n "$CC" ]; then
  {
    echo "CompileFlags:"
    echo "  Add:"

    $CC -E -x c - -v < /dev/null 2>&1 | \
      awk '/#include <...> search starts here:/{flag=1; next} /End of search list./{flag=0} flag && /^ /{gsub(/^ /,""); print "    - -isystem\n    - " $0}'

    if [ -f "$(dirname $(dirname $(which $CC)))/nix-support/libc-cflags" ]; then
      cat "$(dirname $(dirname $(which $CC)))/nix-support/libc-cflags" | tr ' ' '\n' | \
        awk '/^-idirafter$|^-isystem$/{print "    - "$0; getline; print "    - "$0}'
    fi

    echo "$NIX_CFLAGS_COMPILE" | tr ' ' '\n' | \
      awk '/^-isystem$|^-idirafter$/{print "    - "$0; getline; print "    - "$0}'

    if $CC --version 2>/dev/null | head -1 | grep -qi clang; then
      echo "    - -resource-dir=$($CC -print-resource-dir 2>/dev/null)"
    fi

    echo "  Compiler: $(which $CC)"
  } > .clangd

  echo ".clangd regenerated"
fi
